<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.virtualapp">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:name=".VApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">


        <meta-data
            android:name="TencentMapSDK"
            android:value="4HPBZ-2QWC6-H47SR-M6PZY-MTZB5-N2F4F" />

        <!--        <activity-->
        <!--            android:name=".MainActivity"-->
        <!--            android:exported="true"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:theme="@style/Theme.MyApplication.NoActionBar">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->


        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UITheme" />

        <activity
            android:name=".home.ListAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UITheme" />

        <activity
            android:name=".home.LoadingActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="va.task.loading"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".home.location.VirtualLocationSettings"
            android:screenOrientation="portrait"
            android:theme="@style/UITheme" />

        <activity
            android:name=".home.location.MarkerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UITheme" />
    </application>

</manifest>